body{
    font-family: 'Montserrat', sans-serif;
	margin: 0;
    padding: 25px;
    background-color: #EEEEEE;
}

/*Rescaling*/
h1{
	font-size: 100px;
	margin: 0;
}
h2{
	font-size: 80px;
	margin: 0;
}
h3{
	font-size: 50px;
}
h4{
	font-size: 30px;
	font-weight: bolder;
	margin: 0;
}
p{
	font-size: 30px;
}

.nav_bar{
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
	background-color: #5C849A;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.nav_button{
	margin-top: 40px;
	height: 260px;
    width: 250px;
	background-color: white;
	border-radius: 50px 50px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_icon{
	font-size: 150px;
}

.selected{
    background-color: #bec9cf;
}

.selected-sum{
    color: black;
}


#chat-input{
    width: 85%;
    height: 75px;
    display: inline-block;
    font-size: 50px;
    border: 3px solid black;
}

#send{
    font-size: 80px;
    display: inline-block;
}

#bot-bar{
    margin: auto;
    padding: 30px;
    position: absolute;
    bottom: 350px;
    gap: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}
#bot-bar input{
    border: none;
}
#bot-bar input{
    border: none;
}
#bot-bar input:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
  }
#chat{
    background-color: #c8ced1;
    border-radius: 15px;
    padding: 20px;
    height: 1600px;
}
.chat_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.your-message{
    color: white;
    background-color: #DADFE1;
    width: 40%;
    border-radius: 40px 40px 0 40px;
    padding: 30px;
    font-size: 25px;
    margin-left: auto;
    color: #000;
    font-size: 40px;
}

.their-message{
    color: black;
    background-color: #fff;
    width: 40%;
    border-radius: 0 40px 40px 40px;
    padding: 30px;
    font-size: 25px;
    margin-right: auto;
    font-size: 40px;
}

.question-block{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: white;
    padding: 50px;
    color: #000;
    border-radius: 50px;
}

.colorblock{
    display: flex;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 5px;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.colorblock i{
    font-size: 70px;
}

#col1{
    background-color: #FC0707;
}

#col2{
    background-color: #F85F00;
}

#col3{
    background-color: #E59000;
}

#col4{
    background-color: #C5BA00;
}

#col5{
    background-color: #93DE00;
}

#col6{
    background-color: #0CFF00;
}

.blocks{
    display: flex;
    justify-content: center;
}


.confirm-but{
    height: 76px;
    font-size: 50px;
    margin: 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #5C849A;
    color: #fff;
    padding: 10px 40px;
    justify-self: end;
}
.butt_div{
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.main{
    padding: 50px;
}
.chat_main_div{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}