html{
	margin: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 15px;
	max-width: 100%;
	background-color: #EEEEEE;
	margin: 0;
}

/*Rescaling*/
h1{
	font-size: 100px;
	margin: 0;
}
h2{
	font-size: 80px;
	margin: 0;
}
h3{
	font-size: 50px;
}
h4{
	font-size: 30px;
	font-weight: bolder;
	margin: 0;
}
p{
	font-size: 30px;
}

.name-header i{
	font-size: 80px;
	margin-left: 20px;
}

.name-header h2, .name-header i{
	display: inline-block;
}

.username{
	text-decoration: underline dashed #5C849A 10px;
}

.ToS{
	background-color: #fff;
	padding: 40px;
	border-radius: 30px;
}

.but{
	position: fixed;
	background-color: #5C849A;
	padding: 30px 50px;
	font-size: 60px;
	border-radius: 20px;
	color: white;
	margin-top: 30px;
	width: 90%;
	cursor: pointer;
	bottom: 10%;
	left: 5%;
	border: none;
}

.header-third{
	width: 100%;
	text-align: center;
	color: #5C849A;
	margin-bottom: 50px;
}
.main{
	display: flex;
	flex-direction: column;
	padding: 50px 30px;
	gap: 30px;
}
.wrap{
	margin: 200px auto;
	display: flex;
	flex-direction: column;
	gap: 200px;
}
