<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans&family=Montserrat:wght@300;400&family=Saira&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='admin.js') }}"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="selectable active" href="/admin">Admin</a>
            <a class="selectable" href="/about">About</a>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <div style="margin-left: 15px; margin-right: 15px;">
            <div style="display: flex;">
                <div class="vl"></div>
                <div id="info">
                    <h2>Uživatel: <span class="span-text">{{user}}</span></h2>
                    <h2>Pozice: <span class="span-text">{{position}}</span></h2>
                    <h2>Oprávnění: <span class="span-text">{{auth}}</span></h2>
                </div>
            </div>
            <div id="register">
                <form id="confirm-form" method="post">
                    <label for="fname">Jméno:</label>
                    <input type="text" id="fname" name="fname" placeholder="John"><br>
                    <label for="lname">Příjmení:</label>
                    <input type="text" id="lname" name="lname" placeholder="Doe"><br>

                    <label for="birth">Datum narození:</label>
                    <input type="date" id="birth" name="birth" value="2018-07-22" min="2018-01-01" max="2018-12-31" /><br>
                
                    <button type="submit" class="but" id="confirm-but">Potvrdit</button>
                </form>
            </div>
            <div id="messages">
                <p>Máte 10 zpráv od pacientů:</p>
                <div class="message">
                    <h4>Žena #1:</h4>
                    <p>Yo nezavřeli jste okno a tak mi umrzly koule, fakt díky</p>
                </div>
            </div>
            <div id="patient-list">
                <h3>Seznam pacientů</h3>
                <label for="start">Hledat:</label>
                <input type="text" id="searchbar" name="fname" placeholder="Hledej..."><br>
                <div id="patients">
                    <div class="patient">
                        <h3>Jméno: <span>František Hřímal</span></h3>
                        <p>Haha popis</p>

                        <button class="but">Odstranit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>Made by Plajta Labs, on <a href="https://github.com/Plajta/MedHelper">Github</a></p>
        </div>
    </body>
</html>