<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans&family=Montserrat:wght@300;400&family=Saira&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='admin.js') }}"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="selectable active" href="#home">Admin</a>
            <a class="selectable" href="#news">About</a>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <div style="margin-left: 15px; margin-right: 15px;">
            <div style="display: flex;">
                <div class="vl"></div>
                <div id="info">
                    <h2>Uživatel: <span class="span-text">Alois korpus</span></h2>
                    <h2>Pozice: <span class="span-text">Doktor</span></h2>
                    <h2>Oprávnění: <span class="span-text">1</span></h2>
                </div>
            </div>

            <div id="register">
                <label for="fname">Jméno:</label>
                <input type="text" id="fname" name="fname" placeholder="John"><br>
                <label for="fname">Příjmení:</label>
                <input type="text" id="fname" name="fname" placeholder="Doe"><br>

                <label for="start">Datum narození:</label>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" /><br>
            
                <button class="but">Potvrdit</button>
            </div>
            <div id="patient-list">
                <h3>Seznam pacientů</h3>
                <label for="start">Hledat:</label>
                <input type="text" id="searchbar" name="fname" placeholder="Hledej..."><br>
                <div id="patients">
                    <div class="patient">
                        <h3>Jméno: <span>František Hřímal</span></h3>
                        <p>Haha popis</p>

                        <button class="but">Odstranit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>Made by Plajta Labs, on <a href="https://github.com/Plajta/MedHelper">Github</a></p>
        </div>
    </body>
</html>