<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="static/favicon.png">
        <link rel="stylesheet" href="../static/user_app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </head>
    <body>
        <div class="main">
            <h2 class="header-third">Vše je hotovo</h2>
            <div style="margin: auto; text-align:center;">
                <i style="font-size: 400pt; color:#5C849A;" class="fa-regular fa-face-smile-wink"></i>
            </div>
            <button onclick='ContinueAndSend()' class="but">Pokračovat</button>
        </div>
    </body>
</html>