<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans&family=Montserrat:wght@300;400&family=Saira&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='login.js') }}"></script>
    </head>
    <body>
        <form id="login-form" method="post">
            <div id="login">
                <h2 class="login-header">MedHelper Admin login</h2>
                <div class="block">
                    <label for="username" id="login-text">Uživatelské jméno:</label><br>
                    <input type="text" class="form" id="form1" name="username"><br>
                </div>
                <div class="block">
                    <label for="password" id="login-text">Heslo:</label><br>
                    <input type="password" class="form" id="form2" name="password"><br>
                </div>
                <div id="confirm">
                    <button class="login-but" type="submit">Přihlásit se</button>
                </div>
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
        </form>
        <div class="footer">
            <p>Made by Plajta Labs, on <a href="https://github.com/Plajta/MedHelper">Github</a></p>
        </div>
    </body>
</html>