<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="static/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans&family=Montserrat:wght@300;400&family=Saira&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='register.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="selectable" href="/admin">Admin</a>
            <a class="selectable" href="/about">About</a>
            <a class="selectable active" href="/register">Registrace uživatelů</a>
            <a class="selectable" href="/register-space">Registrace míst</a>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <div class="content">
            <div class="reg-content">
                <form class="reg-form" method="post">
                    <label for="username" id="login-text">Uživatelské jméno:</label><br>
                    <input type="username" class="form" name="username" placeholder="FrantaHrima"><br>
                    <label for="password" id="login-text">Heslo:</label><br>
                    <input type="password" class="form" name="password"><br>
                    <hr>
                    <label for="displayname" id="login-text">jméno:</label><br>
                    <input type="text" class="form" name="displayname" placeholder="Ing. František Hřímal"><br>
                    <label for="rank" id="login-text">Pozice:</label><br>
                    <input type="text" class="form" name="rank" placeholder="Doktor"><br>
                    <label for="level" id="login-text">Oprávnění:</label><br>
                    <input type="number" class="form" name="level" placeholder=2><br>
                </form>
                <button class="registration-but">Potvrdit</button>
            </div>
        </div>
        <div class="footer">
            <p>Made by Plajta Labs, on <a href="https://github.com/Plajta/MedHelper">Github</a></p>
        </div>
    </body>
</html>